
$main : black;

.wow-enter {
  opacity: 0;
  background-color: blue;
}
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
  background-color: red;
}



.red {
  color : $main;
}

@mixin alert() {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

// Cart.js

.my-alert {
  @include alert()
}

.my-alert2 {
  @extend .my-alert;
  background: #ffefbb;
}


.my-alert p {
  margin-bottom: 0;
}
